{% extends 'rango/base2.html' %}
{% load staticfiles %}

{% block title_block %}
<title>Change your Password</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}
<div class="body_text">
    <h1>Change your Password</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Change Password" />
    </form>
    <br>
    <br>
    <div>
        <img src="{% static 'images/password.gif' %}" alt="Say hello">
    </div>
</div>
{% endblock %}