.body_text
{
    margin-top: 10%;
    margin-left: 25%;
}

.button
{
    background: none;
    border: none;
}

.main_text
{
    margin-left: 10%;
    float: left;
    display：inline-block;
}

.image_hello
{
    margin-top: 20%;
    float: right;
    display：inline-block;
}

