{% extends 'rango/base2.html' %}
{% load staticfiles %}

<! --
# this function is not good enough.
# because all our dishes page are created by ourselves therefore we cannot directly generate an html file for user...
# So our add dish can only redirect users to outside place.
-->
{% block body_block %}
        <h1>Add a dish</h1>

        <div>
            <form id="add_dish_form" method="post" action="/rango/category/{{ category.slug }}/add_dish/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <br />
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <div>
                    <input type="submit" name="submit" value="Add dish" />
                </div>
                <h1>{{ success }}</h1>
            </form>
        </div>
{% endblock %}