{% extends 'rango/base2.html' %}
{% load staticfiles %}

{% block body_block %}
    <div>
        {% if category %}
            <h1>{{ category.category }}</h1>
            {% if dishes %}
                <ul>
                    {% for dish in dishes %}
                        <li><a href="{{ dish.url }}">{{ dish.dish }}</a> </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No dishes currently in category</strong>
            {% endif %}
        {% else %}
            This category does not exist.
        {% endif %}
    </div>
    <div>
        <a href="/rango/category/{{ category.slug}}/add_dish/">Add a dish</a><br />
    </div>
{% endblock %}