{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block image_block %}
<img src="{% static 'images/dessert3.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block%}
500g mung bean<br>
50g butter<br>
50g sugar<br>
50g condensed milk<br>

{% endblock %}

{% block howToCook_block %}
( 1 ) boil the mung bean and liquidize it. <br>
( 2 ) stir-fry the mung bean with the butter, add prepared sugar and condensed milk. <br>
( 3 ) cool down then make them into lump shape.<br>

{% endblock %}