{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block image_block %}
<h1>Duck Bone Soup</h1>
<img src="{% static 'images/dessert2.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block%}
350g black rice
50g glutinous rice
30g corn oil
30g milk
3 eggs
50g sugar
{% endblock %}

{% block howToCook_block %}
( 1 ) mix the black rice and glutinous rice, put them into a blender and crush. <br>
( 2 ) stir the eggs, then put the eggs and sugar with crushed rice, mix them up.<br>
( 3 ) add prepared corn oil and milk, put on the plastic wrap and cool down the mixture in the refrigerator.<br>
( 4 ) 30 minutes later, steam the mixture for about 40 minutes.<br>
{% endblock %}

{% block comment_block %}
<form action="/rango/dessert2/" method="post">
{% endblock %}