{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
<title>Green Bean Soup</title>
{% endblock %}


{% block image_block %}
<h1>Green Bean Soup</h1>
<img src="{% static 'images/dessert1.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block%}
100g mung bean<br>
50g red bean<br>
20g sugar <br>
4 cups of water<br>
{% endblock %}

{% block howToCook_block %}
boil the mung bean and red bean together for about 1 hours, put in the prepared sugar, mix them up, finally cool down in the refrigerator.
{% endblock %}

{% block comment_block %}
<form action="/rango/dessert1/" method="post">
{% endblock %}