{% extends 'rango/base2.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="w main">
    <div class="most f">
        <div class="most_hd">
            Most popular<br>
            {% if dishes %}
            <ul>
                {% for dish in dishes %}
                <a id="a2" href="{{ dish.url }}">{{ dish.dish }}</a><br>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="most_bd"></div>
    </div>
    <div class="silde f">
        <div class="banner" id="box">
            <ul>
				<li style="display:none" id="a">
                    <a href="{% url 'rango:main_course1' %}">
					    <img src="{% static 'images/main_course1.png' %}" alt="" width="450" height="350">
                    </a>
				</li>
				<li style="display:none" id="b">
                    <a href="{% url 'rango:dessert2' %}">
					    <img src="{% static 'images/dessert2.png' %}" alt="" width="450" height="350">
                    </a>
				</li>
				<li style="display:none" id="c">
                    <a href="{% url 'rango:soup3' %}">
					    <img src="{% static 'images/soup3.png' %}" alt="" width="450" height="350">
                    </a>
				</li>
				<li style="display:block" id="d">
                    <a href="{% url 'rango:starter1' %}">
					    <img src="{% static 'images/starter1.png' %}" alt="" width="450" height="350">
                    </a>
				</li>
			</ul>
            <div>
				<button id="left" class="bq" onclick="goleft();"><</button>
			</div>
            <div>
				<button id="right" class="bq">></button>
			</div>
        </div>
        <p>Our Recommendation</p>
    </div>

    <div class="new f">
        <div class="new_hd">
            New food
        </div>
        <div class="new_bd">
             {% if categories %}
            <ul>
                {% for category in categories %}
                    <a id="a1" href="/rango/category/{{ category.slug }}/">{{ category.slug }}</a><br />

                {% endfor %}
            </ul>
            {% endif %}
            <!-- show visitors <p>Visits: {{ visits }}</p> -->
        </div>
    </div>
</div>

{% endblock %}
<script src="{% static 'js/home.js' %}" crossorigin="anonymous"></script>y