{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block image_block %}
<img src="{% static 'images/main_course2.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block %}
Carrots 200g<br>
Dried shiitake mushrooms 8<br>
Sichuan Sausage 80g<br>
Rice 250g<br>
3 cloves of garlic<br>
3 spoons of soy sauce<br>
A pinch of salt<br>
{% endblock %}

{% block howToCook_block %}
1.	Soften dried shiitake mushrooms in advance, estimated about an hour. tips: use hot water in a hurry.<br>
2.	Diced carrots, diced mushrooms, sliced sausage, diced garlic<br>
3.	Pour the oil in a cold pan, add the garlic, carrots, and shiitake mushrooms, and stir-fry. Add soy sauce and a little salt.<br>
4.	After frying for one minute, pour in the sausage and stir fry for half a minute. Add half a bowl of water and fry for half a minute<br>
5.	Spread the fried Sambo on the washed rice. The amount of water is the same as the amount of rice cooked. Press the rice cooking button.<br>
6.	After cooking, simmer for 5 minutes, do not open the lid immediately.<br>
{% endblock %}