{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block image_block %}
<h1>Sesame catsup baked wheat cake</h1>
<img src="{% static 'images/main_course3.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block %}
Gluten flour 380 g<br>
Granulated sugar 14g<br>
Salt 3 g<br>
Yeast powder 2 g<br>
Corn oil 38g<br>
Water 206g<br>
Sesame paste: 95 grams of sesame paste<br>
Sesame oil 10g<br>
Salt 2 g<br>
Allspice 3g<br>
50 g flour<br>
Decoration: Fine sugar 8g<br>
Old soy 2g<br>
Clear water 5 g<br>
White sesame<br>
{% endblock %}

{% block howToCook_block %}
1.	First make the crust, pour the flour into a large bowl, and add the yeast powder and salt. Then add white sugar, which can promote fermentation. Add water and cooking oil, knead the dough with hands, and knead until there is no dry powder and no particles. Smooth dough can be longer if the amount is appropriate. Cover the wet dough with a wet towel and let it stand for half an hour.<br>
2.	Use the dough proofing time to make sesame paste, pour sesame sauce into a bowl, add salt, then pour allspice, sesame oil, and finally add ordinary flour and stir.<br>
3.	Take out the dough after proofing and roll it into a 5 mm thick thin slice. Spread the prepared sesame paste evenly on the dough.<br>
4.	Roll up the dough from bottom to top, the rolled cylindrical ends are stacked in the middle. Then fold it in half, just like folding a quilt. Fold the surface to cover the plastic wrap and let it stand for 20 minutes.<br>
5.	Roll out again, it is rectangular thin, about 5 mm thick. Roll up again, cut into small pieces of equal size after rolling up. Pinch the ends of each small dough, fold it towards the center, and squeeze the ends again. Press into a round cookie.<br>
6.	Put all the ingredients "decorated" in the ingredients list into white bowls and mix thoroughly, except for white sesame seeds. Brush the adjusted liquid evenly on the surface of the cake base.<br>
7.	The surface is covered with white sesame seeds, placed in a baking dish, preheated in the oven for 180 degrees, and baked for 20 minutes.<br>
{% endblock %}

{% block comment_block %}
<form action="/rango/main_course3/" method="post">
{% endblock %}