{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
<title>Oil spilled noodels</title>
{% endblock %}


{% block image_block %}
<h1>Oil spilled noodles</h1>
<img src="{% static 'images/main_course1.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block %}
3 tablespoons of chili noodles<br>
Garlic 1<br>
Spinach 1<br>
Soy sauce 25g<br>
Old soy 8g<br>
Vinegar 8g<br>
Chicken spoon 1<br>
Salt 5g<br>
Flour 400g<br>
Water 200 ml<br>
Salt 3 g<br>
Vegetable oil 100g<br>

{% endblock %}

{% block howToCook_block %}
1.	400 grams of flour, 200 ml of water, 3 grams of salt, and smooth dough! Mix the dough and let it rest for about 30 minutes, then knead it again and let it stand for about 30 minutes, repeat at least 3 times!<br>
2.	Brush a small amount of vegetable oil on the case, roll out the noodles, roll a little thin, and evenly oil the surface. Cover with oil paper and let stand for about 30 minutes, then start making ramen.<br>
3.	Simmer the spinach and squeeze out the water.<br>
4.	Add water to boil, then add noodles. Remove the cooked noodles, wash them with cold water, drain the water and place in a basin.<br>
5.	Add spinach, chili noodles, minced garlic, raw soy sauce, old soy sauce, vinegar, chicken essence, and 5 grams of salt.<br>
6.	Dip in hot oil and mix well.<br>
{% endblock %}


{% block comment_block %}
<form action="/rango/main_course1/" method="post">
{% endblock %}
