{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block image_block %}
<h1>Duck Bone Soup</h1>
<img src="{% static 'images/soup2.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block%}
400g duck<br>
100g bamboo shoots<br>
100g mushrooms <br>
10g ginger (sliced)<br>
6 cups of water<br>
2 tbsp salt<br>
0.5 tbsp white pepper<br>
0.5 tbsp sesame oil<br>
{% endblock %}

{% block howToCook_block %}
( 1 ) cut up the duck, boil with cold water. <br>
( 2 ) add sliced ginger. <br>
( 3 ) take out the duck when water boiled. <br>
( 4 ) put duck and bamboo shoots, mushrooms together in a pot, add 6 cups of water and boil. <br>
( 5 ) add prepared salt, white pepper and sesame oil when soup boiled.<br>
{% endblock %}