{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block image_block %}
<img src="{% static 'images/starter1.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block%}
Water steamed bun flour 50g<br>
Sugar 120 g <br>
Water 400 g<br>
Small amount of food coloring (blue)<br>
Small amount of food coloring (purple)<br>
The gold foil with a little<br>
White bean pastes stuffing 70~80g<br>
Red bean pastes filling 70~80g<br>
{% endblock %}

{% block howToCook_block %}
1.	Remove the white bean paste and red bean paste and place them until soft. Place them in a pot over medium heat. Stir with a spatula for 1-2 minutes to allow the water to evaporate.<br>
2.	Rub the bean paste into a ball shape, about 10-12g each, and cover with plastic wrap to dry.<br>
3.	Add water steamed bun powder and granulated sugar to a dry pan and mix well with an eggbeater (if there is water in the pan, the powder will agglomerate).<br>
4.	Add a small amount of water several times and stir well with a spatula.<br>
5.	Heat over medium heat and stir evenly with a spatula. Cook until translucent, then turn to a low heat. Stir with a spatula to prevent burning. The whole bright can be turned off the fire, the next operation to quickly, or it will solidify, if the solidification can be put into the microwave oven or on the fire.<br>
6.	3 equal parts after cooking, one part is transparent primary color, and the other two parts are mixed with blue and purple respectively (coloring can be added several times with a toothpick).<br>
7.	After the mold is wet with water, pour the 3 colors into 1/3~1/2 of the mold with a spoon. Stir the pattern with a toothpick. Then put in the bean paste filling and pour in the remaining paste. Cover the surface with plastic wrap and refrigerate until set.<br>
8.	After wetting the toothpick with water, cut it along the mold, unscrew it upside down, and then decorate it with a small amount of gold foil<br>
{% endblock %}