{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
<title>Honey Pork Jerky</title>
{% endblock %}


{% block image_block %}
<h1>Honey Pork Jerky</h1>
<img src="{% static 'images/starter3.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block%}
Tenderloin 500 g <br>
Sugar 35 ~ 60 g <br>
Cooking wine 10 g<br>
Oyster sauce 20 g<br>
MSG 3 g<br>
Salt 5 g <br>
Pepper (black pepper) 1g (either way)<br>
Light soy sauce for 3 g<br>
The old 3 g<br>
Honey amount (brush the surface)<br>
Amount of white sesame (sprinkle the surface)<br>
red yeast powder 3 g (optional)<br>
{% endblock %}

{% block howToCook_block %}
1.	Wash the meat and make it into mince using a cooking machine or chop it yourself with a knife. Mix all ingredients (except honey and white sesame) into the meat. Cover with plastic wrap and marinate for 1 hour.<br>
2.	Mix 30g of honey with water, just the right amount of water, not too much. When you're done, set aside.<br>
3.	Peel a piece of oil paper (twice the baking sheet) and spread the meat evenly on the oil paper. Feel the meat is evenly distributed in each corner. Turn the extra oil paper over and cover it.<br>
4.	Use a rolling pin to roll back and forth, so that the dried meat is completely covered with the whole oil paper, roll evenly and tightly, as thin as possible.<br>
5.	Then peel off the oily paper on the surface and directly reduce it or press it directly under the baking sheet, so that the meat can be exposed outside.<br>
6.	Preheat the oven at 180 ° C. Bake it in the oven for 10 minutes, then remove it and brush honey water on both sides. Put it back in the oven again.<br>
7.	The second time you can take it out in the oven for 5 minutes, or you can brush honey water on both sides. This time you can sprinkle white sesame seeds. The third time you can bake in the oven for 5 minutes.<br>
{% endblock %}

{% block comment_block %}
<form action="/rango/starter3/" method="post">
{% endblock %}