{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block image_block %}
<h1>Hot and sour chicken feet</h1>
<img src="{% static 'images/starter2.png' %}" alt="" width="100%" id="pic">
{% endblock %}

{% block ingredients_block%}
Chicken feet 1 kg<br>
10-15 millet peppers<br>
Parsley 50 g<br>
Soy sauce (light soy sauce) 20ml<br>
vinegar 10 ml <br>
Sesame oil 10 ml<br>
Garlic 50 g<br>
Sugar 15 g<br>
Cooking wine 2 tablespoons<br>
Ginger 4 slices <br>
Lemon 3-4 pieces<br>
Passion fruit 2<br>
{% endblock %}

{% block howToCook_block %}
1.	Wash the chicken feet, cut them in half, put the cooking wine and ginger into the pot under the cold water, boil the water for 6 minutes, turn off the heat, put the chicken feet in the cold water to soak, (ice water is better).<br>
2.	Wash the coriander, millet pepper cut into sections, chopped garlic set aside.<br>
3.	Put the cut ingredients into a bowl, add soy sauce, vinegar, then add sugar, sesame oil, passion fruit.<br>
4.	Drain the cold chicken feet, pour them into the mixing bowl, stir and add the lemon slices. Close the lid and refrigerate for 5 to 6 hours before serving.<br>
{% endblock %}