{% extends 'rango/base2.html' %}
{% load staticfiles %}

{% block title_block %}
<title>User Comments</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
<div class="main_text">
    <h1>Hello {{ user.username }}</h1>
    <a href="{% url 'auth_password_change' %}">Change your Password</a>
    <div>
        <h3>Your Comments:</h3>
        <table style="border-collapse:separate; border-spacing:10px 10px;">
            <thead>
                <tr>
                    <th colspan="2">Comments</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>DISH</td>
                <td>COMMENT</td>
                <td>Like</td>
            </tr>
            {% for comment in comment_list %}
                <tr>
                    <td>{{ comment.dish }}</td>
                    <td>{{ comment.comment }}</td>
                    <td>{% if comment.islike %}
                        You Thumbed up this Dish 😄!
                        {% else %}
                            You disliked this Dish 😡
                        {% endif %}</td>
                </tr>
            </tbody>
             {% endfor %}
        </table>

    </div>

</div>
<div class="image_hello">
            <img src="{% static 'images/hello.gif' %}" alt="Hello">
        </div>
{% endif %}
{% endblock %}